<div class="date-container flex fcol" [ngClass]="{ hidden: !displayDate }">
  <div class="date-display flex">
    <div class="col-1 flex fcol fcenter">
      <div class="day">{{dayStr}}</div>
      <div class="month capital">{{monthStr}}</div>
      <div class="width-holder"></div>
    </div>
    <div class="col-2 flex fcol fcenter">
      <div class="counter">{{recordsCount}} comics</div>
      <div class="total">{{totalStr}}</div>
    </div>
  </div>
  <div class="date-records flex">
    <div class="col-1 flex fcenter">
      <div class="width-holder"></div>
    </div>
    <div class="col-2">
      <ion-card color="dark">
        <app-record-row *ngFor="let cc of records; let odd = odd;" [cc]="cc" [odd]="odd" [ngClass]="{ hidden: (filterValue === 1 && !cc.checked) || (filterValue === 2 && cc.checked) }">
        </app-record-row>
      </ion-card>
    </div>
  </div>
</div>