<div class="date-container flex fcol">
  <div class="date-display flex">
    <div class="col-1 flex fcol fcenter">
      <div class="day">{{dayStr}}</div>
      <div class="month">{{monthStr}}</div>
      <div class="width-holder"></div>
    </div>
    <div class="col-2 flex fcol fcenter">
      <div class="counter">{{records.length}} comics</div>
      <div class="total">{{totalStr}}</div>
    </div>
  </div>
  <div class="date-records flex">
    <div class="col-1 flex fcenter">
      <div class="width-holder"></div>
    </div>
    <div class="col-2">
      <ion-card>
        <app-record-row *ngFor="let cc of records; let index = index; let odd = odd;" [cc]="cc" [odd]="odd"></app-record-row>
      </ion-card>
    </div>
  </div>
</div>