.terms {
    text-align: justify;
    font-size: 9px;

    b {
        font-size: 9px;
        margin: 6px 0 2px 0;
        display: block;
    }

    p {
        font-size: 8px;
        margin-bottom: 4px;
    }
}