<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Add a new Comic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ccRecordForm">

    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input #title formControlName="title" autocapitalize="characters" (ionBlur)="updateTitle()"></ion-input>
    </ion-item>

    <div class="autocompleteOptions" *ngIf="showAutocomplete">
      <div class="close-container">
        <ion-button class="close" color="light" fill="clear" size="small" (click)="hideAutocomplete()" no-margin>
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
      </div>
      <div class="titles-container">
        <div class="titles-scroll">
          <ion-button *ngFor="let title of filteredTitles" expand="full" color="tertiary" (click)="selectTitle(title)">{{title}}</ion-button>
        </div>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Volumen</ion-label>
      <ion-input #volumen type="number" formControlName="volumen" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" formControlName="price" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Variant</ion-label>
      <ion-input formControlName="variant" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Is this in your shelf?</ion-label>
      <ion-input></ion-input>
      <ion-checkbox color="tertiary" formControlName="checked" (ionFocus)="hideAutocomplete()"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Publish Date</ion-label>
      <ion-input type="date" formControlName="publishDate" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-button color="tertiary" expand="block" [disabled]="ccRecordForm.invalid" (click)="save()">Save Comic</ion-button>
  </form>
</ion-content>