<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!editing">{{ 'add.title_add' | translate }}</ion-title>
    <ion-title *ngIf="editing">{{ 'add.title_edit' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="ccRecordForm.invalid" (click)="save()" color="light" fill="solid">
        <ion-icon slot="start" name="save"></ion-icon>
        <ng-container *ngIf="!editing">{{ 'add.save' | translate }}</ng-container>
        <ng-container *ngIf="editing">{{ 'add.edit' | translate }}</ng-container>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ccRecordForm">

    <ion-item>
      <ion-label position="floating">{{ 'add.form.title' | translate }}</ion-label>
      <ion-input #title formControlName="title" autocapitalize="characters" (ionBlur)="updateTitle()"></ion-input>
    </ion-item>

    <div class="autocompleteOptions" *ngIf="!editing && showAutocomplete && !lockAutocompleteHidden">
      <div class="close-container">
        <ion-button class="close" color="light" fill="clear" size="small" (click)="hideAutocompleteLock()" no-margin>
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
      </div>
      <div class="titles-container">
        <div class="titles-scroll">
          <ion-button *ngFor="let title of filteredTitles" expand="full" color="tertiary" (click)="selectTitle(title)">{{title}}</ion-button>
        </div>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">{{ 'add.form.volumen' | translate }}</ion-label>
      <ion-input #volumen type="number" formControlName="volumen" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'add.form.price' | translate }}</ion-label>
      <ion-input #price type="number" formControlName="price" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'add.form.format' | translate }}</ion-label>
      <ion-select formControlName="format">
        <ion-select-option *ngFor="let f of formats" [value]="f">{{f}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'add.form.variant' | translate }}</ion-label>
      <ion-input formControlName="variant" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'add.form.lang' | translate }}</ion-label>
      <ion-select formControlName="lang">
        <ion-select-option value="esp">Spanish</ion-select-option>
        <ion-select-option value="eng">English</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'add.form.date' | translate }}</ion-label>
      <ion-input type="date" formControlName="publishDate" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'add.form.check' | translate }}</ion-label>
      <ion-input></ion-input>
      <ion-checkbox color="tertiary" formControlName="checked" (ionFocus)="hideAutocomplete()"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'add.form.read' | translate }}</ion-label>
      <ion-input></ion-input>
      <ion-checkbox color="tertiary" formControlName="read" (ionFocus)="hideAutocomplete()"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="ccRecordForm.controls.read.value">
      <ion-label position="floating">{{ 'add.form.readDate' | translate }}</ion-label>
      <ion-input type="date" formControlName="readDate" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" auto-grow="true">{{ 'add.form.provider' | translate }}</ion-label>
      <ion-input type="text" formControlName="provider" (ionFocus)="hideAutocomplete()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'add.form.comments' | translate }}</ion-label>
      <ion-textarea type="text" formControlName="comments" (ionFocus)="hideAutocomplete()"></ion-textarea>
    </ion-item>
  </form>
</ion-content>