ion-searchbar {
    color: var(--ion-color-light);
}

ion-item-divider {
    flex-direction: column;

    &.expanded ion-label {
        color: var(--ion-color-light);
        text-shadow: 0px 0px 1px var(--ion-color-tertiary-tint);
    }

    ion-label {
        padding: 8px 16px;
        width: 100%;
        display: flex !important; // Override ion-label display
        flex: 1;
        justify-content: space-between;
        color: var(--ion-color-medium);
        font-size: 1rem;
        transition: all .3s;

        .serie-name {
            white-space: normal;
        }

        .serie-details {
            text-align: right;
            margin-left: 16px;
            font-size: .7rem;

            .count {
                font-weight: bold;
            }
        }
    }

    .card-container {
        width: 100%;
        padding: 0 16px 16px 16px;

        ion-spinner {
            margin-top: 8px;
        }

        ion-card {
            &::before {
                height: 4px;
                display: flex;
                background: var(--ion-color-tertiary);
                content: '';
            }
        }
    }

    ion-item-group {
        margin-bottom: 68px;
    }
}