<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="{{ 'series.filterPlaceholder' | translate }}" debounce="500" animated [(value)]="filterValue" (ionChange)="filterBar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="working" class="flex fcol fvertical worker margin20">
    <ion-spinner></ion-spinner>
  </div>

  <ion-item-group>
    <ng-container *ngFor="let serie of seriesFiltered">
      <ion-item-divider class="ion-no-padding" [ngClass]="{ expanded: states[serie.name].expanded }">
        <ion-label class="flex fvertical ion-activatable ion-no-margin" (click)="expandToggle(serie)" ion-activatable>
          <div class="serie-name">{{serie.name}}</div>
          <div class="serie-details">
            <div class="count">{{serie.records.length}} records</div>
            <div class="total">{{dynCurrency(serie.total)}}</div>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-label>

        <div class="card-container" *ngIf="states[serie.name].expanded">

          <div *ngIf="states[serie.name].records.length === 0" class="flex fcenter">
            <ion-spinner></ion-spinner>
          </div>

          <ion-card *ngIf="states[serie.name].records.length > 0" class="ion-no-margin" color="dark">
            <app-record-row *ngFor="let cc of states[serie.name].records; let index = index; let odd = odd;" [cc]="cc" [odd]="odd"></app-record-row>
          </ion-card>
        </div>
      </ion-item-divider>
    </ng-container>
  </ion-item-group>

  <ng-container *ngIf="showEmpty">
    <ion-text class="flex fcol fvertical margin20">
      <h2>{{ 'noRecords' | translate }}</h2>
      <ion-button strong="false" size="small" color="tertiary" (click)="openAddForm()">{{ 'isEmpty' | translate }}</ion-button>
    </ion-text>
  </ng-container>

  <ng-container *ngIf="filterEmpty">
    <ion-text class="flex fcol fvertical margin20" color="medium">{{ 'isEmptyFilter' | translate }}</ion-text>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openAddForm()">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>