<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar class="flex fcol fcenter">
          <div class="logo"></div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item-divider>
            <ion-label>{{ 'menu.groupTitle' | translate }}</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/dates-listing']">
              <ion-icon color="light" slot="start" name="calendar"></ion-icon>
              <ion-label>{{ 'menu.groupYear' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/series-listing']">
              <ion-icon color="light" slot="start" name="list"></ion-icon>
              <ion-label>{{ 'menu.groupSeries' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider>
            <ion-label>{{ 'menu.dataTitle' | translate }}</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/importer']">
              <ion-icon color="light" slot="start" name="download"></ion-icon>
              <ion-label>{{ 'menu.dataImport' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/exporter']">
              <ion-icon color="light" slot="start" name="save"></ion-icon>
              <ion-label>{{ 'menu.dataExport' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/about']">
              <ion-icon color="light" slot="start" name="information-circle-outline"></ion-icon>
              <ion-label>{{ 'menu.about' | translate }} <b>ContaComics</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>