<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Comics Collection
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button *ngFor="let year of years" (click)="updateYearSelected(year)" [selected]="isSelected(year.year)" [ngClass]="{ blocked: working || isSelected(year.year) }">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>{{year.year}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="working" [value]="loadingProgress"></ion-progress-bar>
  <ion-list *ngIf="!working">
    <app-date-records *ngFor="let date of selectedYearDates" [id]="date.date" [date]="date" [records]="records[date.date]"></app-date-records>
  </ion-list>
</ion-content>