.blocked {
    pointer-events: none;
    touch-action: none;
}

ion-tab-button {
    --ripple-color: var(--ion-color-light);
}

ion-progress-bar {
    position: fixed;
    z-index: 1;
}

ion-list {
    margin-bottom: 56px;
}

.filterButton ion-label {
    font-size: .8rem;
    margin: 0 4px 0 2px;
}

.filter-select {
    display: none;
}