<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons *ngIf="!showEmpty" slot="end" class="filterButton" (click)="showFilter()">
      <ng-container *ngIf="filterValue === 0">
        <ion-label>{{ 'dates.filters.all' | translate }}</ion-label>
      </ng-container>
      <ng-container *ngIf="filterValue === 1">
        <ion-icon name="checkbox-outline"></ion-icon>
        <ion-label>{{ 'dates.filters.owned' | translate }}</ion-label>
      </ng-container>
      <ng-container *ngIf="filterValue === 2">
        <ion-icon name="square-outline"></ion-icon>
        <ion-label>{{ 'dates.filters.notOwned' | translate }}</ion-label>
      </ng-container>
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-buttons>

    <ion-item class="filter-select">
      <ion-label>{{ 'dates.filters.title' | translate }}</ion-label>
      <ion-select #filter okText="Okay" cancelText="Cancel" (ionChange)="filterRecords($event)">
        <ion-select-option value="0">{{ 'dates.filters.all' | translate }}</ion-select-option>
        <ion-select-option value="1">{{ 'dates.filters.owned' | translate }}</ion-select-option>
        <ion-select-option value="2">{{ 'dates.filters.notOwned' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-title>{{ 'dates.title' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="!showEmpty">
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button *ngFor="let year of years" (click)="selectYear(year)" [selected]="isSelected(year.year)" [ngClass]="{ blocked: isSelected(year.year) }">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>{{year.year}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="working" color="tertiary" [value]="loadingProgress"></ion-progress-bar>

  <ion-list>
    <ng-container *ngFor="let date of selectedYearDates">
      <app-date-records *ngIf="records[date.date]" [id]="date.date" [date]="date" [records]="records[date.date]" [filterValue]="filterValue">
      </app-date-records>
    </ng-container>
  </ion-list>

  <ng-container *ngIf="showEmpty">
    <ion-text class="flex fcol fvertical marginBottom20">
      <h2>{{ 'noRecords' | translate }}</h2>
      <ion-button strong="false" size="small" color="tertiary" (click)="openAddForm()">{{ 'isEmpty' | translate }}</ion-button>
    </ion-text>
  </ng-container>

  <ng-container *ngIf="showFilteredEmpty">
    <ion-text class="flex fcol fvertical marginBottom20" color="medium">{{ 'isEmptyFilter' | translate }}</ion-text>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openAddForm()">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>