<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{cc.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color="dark">
    <ion-card-header class="flex">
      <div class="info">
        {{cc.title}}
        <div *ngIf="cc.variant">{{ 'details.vatiant' | translate }}: {{cc.variant}}</div>
      </div>
      <div class="volumen">#{{cc.volumen}}</div>
    </ion-card-header>
    <ion-card-content>
      <ion-list no-margin no-padding>
        <ion-item color="dark" no-margin no-padding>
          <ion-label>
            <small>{{ 'details.price' | translate }}</small>
            <div>{{cc.price | currency}}</div>
          </ion-label>
        </ion-item>
        <ion-item color="dark" no-margin no-padding>
          <ion-label>
            <small>{{ 'details.publishedDate' | translate }}</small>
            <div>{{cc.detailDates.published}}</div>
          </ion-label>
        </ion-item>
        <ion-item color="dark" no-margin no-padding>
          <ion-label>
            <small>{{ 'details.registryDate' | translate }}</small>
            <div>{{cc.detailDates.registry}}</div>
          </ion-label>
        </ion-item>
        <ion-item color="dark" no-margin no-padding>
          <label class="checkboxContainer flex fvertical">
            <ion-label *ngIf="cc.checked" no-margin no-padding>{{ 'details.owned' | translate }}<br>{{cc.detailDates.checked}}</ion-label>
            <ion-label *ngIf="!cc.checked" no-margin no-padding>{{ 'details.notOwned' | translate }}</ion-label>

            <input type="checkbox" class="hidden" *ngIf="!updatingCheckFromDetails" [(ngModel)]="checkState.checked" (change)="checkUpdate($event)">
            <ion-icon *ngIf="!checkState.checked" class="checkbox" name="square-outline"></ion-icon>
            <ion-icon *ngIf="checkState.checked" class="checkbox" name="checkbox"></ion-icon>
          </label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer slot="end" class="ion-padding">
  <ion-button size="small" color="danger" expand="block" (click)="delete()">
    {{ 'details.delete' | translate }}
    <ion-icon slot="end" name="trash"></ion-icon>
  </ion-button>
</ion-footer>