<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{cc.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="coverImg" class="cover" [style.background-image]="coverImg" [ngClass]="{ front: coverFront }" (click)="toggleCover()"></div>
  <ion-card color="dark" [ngClass]="{ hasCover: !!coverImg }">
    <ion-card-header class="flex">
      <div class="info">
        {{cc.title}}
        <div *ngIf="cc.variant">{{ 'details.variant' | translate }}: {{cc.variant}}</div>
      </div>
      <div class="volumen">#{{cc.volumen}}</div>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-margin-bottom">
          <ion-col class="ion-no-padding">
            <div class="detail-row flex">
              <ion-label>
                <small>{{ 'details.publishedDate' | translate }}</small>
                <div>{{cc.detailDates.published}}</div>
              </ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-no-padding">
            <div class="detail-row flex">
              <ion-label>
                <small>{{ 'details.price' | translate }}</small>
                <div>{{cc.price | currency}}</div>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col class="ion-no-padding">
            <div class="detail-row flex">
              <ion-label>
                <small>{{ 'details.format' | translate }}</small>
                <div>{{ 'formats.' + cc.format | translate }}</div>
              </ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-no-padding">
            <div class="detail-row flex">
              <ion-label>
                <small>{{ 'details.lang' | translate }}</small>
                <div class="ion-text-capitalize lang {{cc.lang}}">{{cc.lang}}</div>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="cc.provider" class="detail-row flex ion-margin-bottom">
        <ion-label>
          <small>{{ 'details.provider' | translate }}</small>
          <div>{{cc.provider}}</div>
        </ion-label>
      </div>

      <div class="detail-row flex ion-margin-bottom">
        <ion-label>
          <small>{{ 'details.registryDate' | translate }}</small>
          <div class="dateRow">{{cc.detailDates.registry}}</div>
        </ion-label>
      </div>

      <div class="detail-row flex checked-state-row ion-margin-bottom">
        <label class=" checked-state-label flex fcenter">
          <ion-label *ngIf="cc.checked">
            <small>{{ 'details.owned' | translate }}</small>
            <span class="dateRow">{{cc.detailDates.checked}}</span>
          </ion-label>
          <ion-label *ngIf="!cc.checked" class="ion-no-margin ion-no-padding">{{ 'details.notOwned' | translate }}</ion-label>
          <label class="checkboxContainer flex fcenter fvertical">
            <input type="checkbox" class="hidden" [(ngModel)]="checkableState.checked" (change)="checkUpdate($event)">
            <fa-icon *ngIf="checkableState.checked" class="checkbox flex" [icon]="['fas', 'check-square']" [fixedWidth]="true"></fa-icon>
            <i class="checkbox-square" [ngClass]="{ checked: checkableState.checked }"></i>
          </label>
        </label>
      </div>

      <div class="detail-row flex checked-state-row ion-margin-bottom">
        <label class=" checked-state-label flex fcenter">
          <ion-label *ngIf="cc.read">
            <small>{{ 'details.read' | translate }}</small>
            <span class="dateRow">{{cc.detailDates.read}}</span>
          </ion-label>
          <ion-label *ngIf="!cc.read" class="ion-no-margin ion-no-padding">{{ 'details.notRead' | translate }}</ion-label>
          <label class="checkboxContainer flex fcenter fvertical">
            <input type="checkbox" class="hidden" [(ngModel)]="checkableState.read" (change)="readUpdate($event)">
            <fa-icon *ngIf="checkableState.read" class="checkbox flex" [icon]="['fas', 'check-square']" [fixedWidth]="true"></fa-icon>
            <i class="checkbox-square" [ngClass]="{ checked: checkableState.read }"></i>
          </label>
        </label>
      </div>

      <div *ngIf="cc.comments" class="detail-row flex ion-margin-bottom">
        <ion-label>
          <small>{{ 'details.comments' | translate }}</small>
          <small class=" comments">{{cc.comments}}</small>
        </ion-label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="tertiary">
    <ion-icon name="settings"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button color="tertiary" (click)="coverMng()" [attr.data-label]="translations.coverOptions">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="tertiary" (click)="edit()" [attr.data-label]="translations.edit">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

  <ion-fab-list side="start">
    <ion-fab-button color="danger" (click)="delete()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>