<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{cc.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <div class="title flex">
      <div class="info">
        {{cc.title}}
        <div *ngIf="cc.variant">Variant: {{cc.variant}}</div>
      </div>
      <div class="volumen">#{{cc.volume}}</div>
    </div>
  </ion-text>

  <ion-list>
    <ion-item>
      <ion-label>
        <small>Published date</small>
        <div>{{cc.detailDates.published}}</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <small>Registry date</small>
        <div>{{cc.detailDates.registry}}</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label *ngIf="cc.checked">This comic is in your shelf since<br>{{cc.detailDates.checked}}</ion-label>
      <ion-label *ngIf="!cc.checked">This is not part of the collection yet</ion-label>
      <ion-checkbox [(ngModel)]="checkState.checked" (ionChange)="checkUpdate($event)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-button expand="full" size="small" color="light" (click)="delete()">
  <ion-icon slot="start" name="trash"></ion-icon> Delete this record
</ion-button>