ion-card-header {
    .info {
        flex: 1;
        color: var(--ion-color-light);

        div {
            color: var(--ion-color-medium);
            font-style: italic;
        }
    }

    .volumen {
        font-size: 2rem;
    }

}

small {
    margin-bottom: .5rem;
    display: block;
    color: var(--ion-color-medium);
}

ion-checkbox {
    --size: 1.6em;
}