.cc-row {
    line-height: 1;
    flex: 1;
    position: relative;

    &.odd {
        background: var(--ion-color-odd);
    }

    ion-checkbox {
        --size: 1.6em;
    }

    label {
        padding: 2px 6px 2px 2px;
    }

    &>div {
        margin-right: 10px;
    }

    .title {
        padding: 6px 0;
        flex: 1;

        .variant {
            color: var(--ion-color-medium);
            font-style: italic;
        }
    }

    .volumen {
        font-size: 1rem;
        font-weight: bold;
    }

    .misc {
        min-width: 36px;
        margin-right: 6px;
        align-items: flex-end;

        .price {
            font-size: .8rem;
        }

        .format {
            font-size: .5rem;

            &.esp {
                color: #ffd800;
            }

            &.eng {
                color: #009dff;
            }
        }
    }
}