// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.flex {
    display: flex;
    position: relative;

    &.fcol {
        flex-direction: column;
    }

    &.fcenter {
        justify-content: center;
    }

    &.fvertical {
        align-items: center;
    }
}

.margin20 {
    margin: 2em;
}

.marginBottom20 {
    margin-bottom: 2em;
}

.worker ion-spinner {
    margin-bottom: 1em;
}

ion-checkbox:not(.checkbox-checked) {
    --border-color: var(--ion-color-tertiary);
}

ion-alert {

    .alert-title,
    .alert-sub-title {
        color: var(--ion-color-light-contrast) !important;
    }
}

.logo {
    height: 86px;
    background-image: url("../src/assets/icon/icono.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}