<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'settings.title' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-note color="default"><b>Backup</b> file destination folder</ion-note>
        <div class="info-text" color="tertiary">{{backupFolder}}</div>
        <ion-button color="tertiary" expand="block" (click)="chooseFolder(0)" [disabled]="working">
            {{ 'settings.btnLabel' | translate }}
            <ion-icon slot="end" name="folder-open"></ion-icon>
        </ion-button>
    </div>
    <div class="ion-padding">
        <ion-note color="default"><b>Covers</b> images folder</ion-note>
        <div class="info-text">{{coversFolder}}</div>
        <ion-button color="tertiary" expand="block" (click)="chooseFolder(1)" [disabled]="working">
            {{ 'settings.btnLabel' | translate }}
            <ion-icon slot="end" name="folder-open"></ion-icon>
        </ion-button>
    </div>
</ion-content>